@import 'typed.scss';
:root {
	--neon-color: #009100;
	--text-color: #00ff00;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-button:hover .menu-list {
	@apply block;
}

.main-intro {
	/* type once Hwa Chong Electronic Communications and Computer Club */
	@include typed('Hwa Chong Electronic Communications and Computing Club \a est. 1991', (
    type: .08,
    pause-typed: 2,
    delete: .08,
    pause-deleted: 1
	), (
		iterations: 0,
	));
	white-space: pre;
}

a {
	@apply text-blue-500 #{!important};
}

a:hover {
	@apply text-blue-600 #{!important};
}

a:active {
	@apply text-blue-700 #{!important};
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* add neon green text that shines */
	color: var(--text-color) !important;
	text-shadow: 0 0 10px var(--neon-color), 0 0 20px var(--neon-color);
}

pre, code {
	font-family: var(--font-cascadia) !important;
}

.prose th {
	color: var(--text-color) !important;
}

.main-accent {
	color: var(--text-color) !important;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #1a202c;
}

::-webkit-scrollbar-thumb {
	background: var(--text-color);
}

/* add neon green scrollbar */
::-webkit-scrollbar-thumb:hover {
	background: var(--neon-color);
}