@import 'typed.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-intro {
	/* type once Hwa Chong Electronic Communications and Computer Club */
	@include typed('Hwa Chong Electronic Communications and Computing Club', (
    type: .08,
    pause-typed: 2,
    delete: .08,
    pause-deleted: 1
	), (
		iterations: 0,
	));
}

a {
	@apply text-blue-500;
}

a:hover {
	@apply text-blue-600;
}

a:active {
	@apply text-blue-700;
}

.neon-green {
	/* add neon green text that shines */
	color: #2dff2d;
	text-shadow: 0 0 100px #00ff00, 0 0 100px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #1a202c;
}

::-webkit-scrollbar-thumb {
	background: #00ff00;
	border-radius: 0.25rem;
}

/* add neon green scrollbar */
::-webkit-scrollbar-thumb:hover {
	background: #00c400;
}